<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Token</title>
</head>
<body>
<div style="
    width: 80%;
        padding: 1rem 1rem;
        margin: auto;
        border-radius: 10px;
        background-color: #8c41c9;
        color: white;
        text-align: center;
        font-family: 'Courier New', Courier, monospace;
        letter-spacing: 2px;
">
    <h1 style="color: #fff">Bienvenido a Pokedex</h1>
    <h3 style="color: #fff">Para validar tu cuenta usa el token:</h3>
    <h4 style="color: #fff" th:text="${variable}"></h4>
</div>
</body>
</html>